body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.ant-layout.app {
  background: white;
  
}
.ant-form-item-control {
  overflow: hidden;
  max-width: 90%;
}
.ant-row{
  max-width: 100%;
  overflow: hidden;
}
/* #header {
min-height: 140px;
} */

/* .PhoneInputInput{
  font-size: 18px !important;
  max-width: 80%;
  overflow: hidden;
} */
input {  font-size: 16px;}
@media screen and (-webkit-min-device-pixel-ratio:0) { 
  select,
  textarea,
  input {
    font-size: 16px;
  }
}
